<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ui.Properties.Settings>
            <setting name="defaultRegion" serializeAs="String">
                <value>us</value>
            </setting>
            <setting name="gpuTempLimit" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="minerDefFee" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="nvidiaEquihashMiner" serializeAs="String">
                <value>ewbf</value>
            </setting>
            <setting name="workerName" serializeAs="String">
                <value>workerName</value>
            </setting>
            <setting name="guiLang" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="autostartMining" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="wncpupx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="wnnvidiapx" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="wnamdpx" serializeAs="String">
                <value>2</value>
            </setting>
        </ui.Properties.Settings>
    </userSettings>
</configuration>